{% extends 'board_game_groups/base.html' %}

{% block content %}

<p>Game: {{ game }}</p>
<p>Game owner: {{ game.owner }}</p>
<p>Description: {{ game.description }}</p>
<a href="{% url 'board_game_groups:edit_game' game.id %}">Edit Game</a>
<p>Borrows:</p>
<p>
    <a href="{% url 'board_game_groups:new_borrow' game.id %}">Mark a new borrow</a>
</p>
<ul>
    {% for borrow in borrows %}
    <li>
        <p>Borrower: {{ borrow.borrower }}</p>
        <p>Borrow date: {{ borrow.borrow_date|date:'M d, Y' }}</p>
        <p>Planned return date: {{ borrow.planned_return_date|date:'M d, Y' }}</p>
        <p>
            <a href="{% url 'board_game_groups:edit_borrow' borrow.id %}">Edit Borrow</a>
        </p>
    </li>
    {% empty %}
    <li>There are no borrows for this game yet.</li>
    {% endfor %}
</ul>

{% endblock content %}