{% extends "board_game_groups/base.html" %}

{% block content %}
<p>Games</p>
<p>{{ borrow.contact_information|linebreaks }}</p>
<ul>
  {% for game in games %}
  <li>
    
    <a href="{% url 'board_game_groups:game' game.id %}">{{ game }}</a>
    <p>Game owner: {{ game.owner }}</p>
    <p>{{ game.description|linebreaks }}</p>
    {% if game.is_borrowed %}
    <p>Game is borrowed.</p>
    {% else %}
    <p>Game is not borrowed.</p>
    {% endif %}
  </li>
  {% empty %}
  <li>No games have been added yet.</li>
  {% endfor %}
</ul>

<a href="{% url 'board_game_groups:new_game' %}">Add a new game</a>

{% endblock content %}
