{% extends 'board_game_groups/base.html' %}

{% block content %}

<p>Game: {{ game }}</p>

<p>Borrows:</p>
<p>
    <a href="{% url 'board_game_groups:new_borrow' game.id %}">Mark a new borrow</a>
</p>
<ul>
    {% for borrow in borrows %}
    <li>
        <p>{{ borrow.borrow_date|date:'M d, Y H:i' }}</p>
        <p>{{ borrow.contact_information|linebreaks }}</p>
        <p>
            <a href="{% url 'board_game_groups:edit_borrow' borrow.id %}">Edit Borrow</a>
        </p>
    </li>
    {% empty %}
    <li>There are no borrows for this game yet.</li>
    {% endfor %}
</ul>

{% endblock content %}